@using Microsoft.AspNetCore.Http
@using Sistema_CIN.Models
@using Sistema_CIN.Data

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Sistema_CIN</title>
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" asp-append-version="true" />

</head>

<body class="">
    <div class="wrapper">

        <!----------SIDEBAR NAV--------->

        <aside id="sidebar">

            <!----------LOGO NAV--------->
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="sidebar-logo">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        var httpContext = ViewContext.HttpContext;
                        var rol = httpContext.Session.GetString("Rol");

                        <h1 class="text-white fs-6">Rol <span class="text-primary">@rol</span></h1>
                    }
                </div>
            </div><!----------LOGO NAV--------->
            <!----------MODULOS NAV--------->
            <ul class="sidebar-nav">
                <!----------MODULO INICIO NAV--------->
                <li class="sidebar-item">

                    <a asp-controller="Home" asp-action="Index" class="sidebar-link" id="sb-l">
                        <i class="lni lni-home"></i>

                        <span>Inicio</span>
                    </a>

                </li>
                <!----------MODULO MANTENIMIENTO NAV--------->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#mant" aria-expanded="false" aria-controls="mant">
                        <i class="lni lni-cogs"></i>
                        <span>Mantenimiento</span>
                    </a>
                    <ul id="mant" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a asp-controller="Personal" asp-action="Index" class="sidebar-link">Personal</a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="PME" asp-action="Index" class="sidebar-link">PME</a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="Encargados" asp-action="Index" class="sidebar-link">Encargados</a>

                        </li>
                    </ul>
                </li>

                <!----------MODULO ADMINISTRAR NAV--------->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#admin" aria-expanded="false" aria-controls="admin">
                        <i class="lni lni-user"></i>
                        <span>Administrar</span>
                    </a>
                    <ul id="admin" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a asp-controller="Usuarios" asp-action="Index" class="sidebar-link">Usuarios</a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="RolesPermisos" asp-action="Index" class="sidebar-link">Roles y Permisos</a>
                        </li>

                    </ul>
                </li>


                <!----------MODULO BITACORAS NAV--------->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" id="sb-l" data-bs-toggle="collapse"
                       data-bs-target="#bitacoras" aria-expanded="false" aria-controls="bitacoras">
                        <i class="lni lni-graph"></i>
                        <span>Bitácoras</span>
                    </a>
                    <ul id="bitacoras" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a asp-controller="BitacoraIngresoSalidas" asp-action="Index" class="sidebar-link">Ingresos y Salidas</a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="BitacorasMovimientosPme" asp-action="Index" class="sidebar-link">Movimientos PMEs</a>
                        </li>

                    </ul>
                </li>

                <!----------MODULO AYUDA NAV--------->
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#help" aria-expanded="false" aria-controls="help">
                        <i class="lni lni-question-circle"></i>
                        <span>Ayuda</span>
                    </a>
                    <ul id="help" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Abrir Manual PDF</a>
                        </li>
                    </ul>
                </li>
                <!----------MODULO ACERCA DE NAV--------->
                <li class="sidebar-item">
                    <a asp-controller="Home" asp-action="Privacy" class="sidebar-link">
                        <i class="lni lni-information"></i>
                        <span>Acerca de</span>
                    </a>
                </li>


            </ul><!----------END MODULOS NAV--------->
            <!----------CERRAR SESION NAV--------->
            <div class="sidebar-footer">

                <a asp-controller="Cuenta" asp-action="Logout" class="sidebar-link text-danger">
                    <i class="lni lni-exit"></i>
                    <span>Cerrar Sesión</span>
                </a>

            </div>
        </aside>
        <!----------END SIDEBAR NAV--------->


        <div class="main">

            <!----------NAV HEADER--------->
            <nav class="navbar navbar-expand px-4 py-3 bg-white row">
                <div class="sidebar-logo col-auto text-start">
                    <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/Screenshot 2024-03-16 160647.png" /></a>
                </div>
                <div class="col text-end">
                    @{

                        if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            // Obtener el ID del usuario autenticado

                            var httpContext = ViewContext.HttpContext;
                            var correoU = httpContext.Session.GetString("CorreoU");
                            var fotoU = httpContext.Session.GetString("FotoU");
                            var usuarioId = httpContext.Session.GetString("IdUsuario");
                            var acceso = httpContext.Session.GetString("AccesoU");


                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/imageUser/@fotoU" alt="" width="32" height="32" class="rounded-circle me-2">
                                    <span>@correoU</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-route-id="@usuarioId" asp-controller="Cuenta" asp-action="EditProfile">Perfil</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a asp-controller="Cuenta" asp-action="Logout" class="dropdown-item text-danger">Salir</a>
                                    </li>
                                </ul>
                            </div>

                        }
                    }
                </div>
            </nav>


            <main class="p-4">
                @RenderBody()
            </main>

            <footer class="footer py-4 border-top mt-auto">
                <div class="container-fluid">
                    <div class="row text-secondary">
                        <div class="col-6 text-start">
                            <a class="text-secondary" href="">
                                <strong>SISTEMA CIN</strong>
                            </a>
                        </div>
                        <div class="col-6 text-end text-primary">
                            &copy; 2024 - Sistema_CIN - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/80d7803e22.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            // Hacer una solicitud AJAX para obtener los datos del usuario
            $.ajax({
                url: '@Url.Action("EditProfile", "Cuenta")',
                type: 'GET',
                success: function (data) {
                    // Actualizar la información del usuario en el dropdown
                    $('#dropdownMenu').html(`<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/imageUser/${data.fotoU}" alt="" width="32" height="32" class="rounded-circle me-2">
                                    <span>${data.correoU}</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Salir</a></li>
                                </ul>`);
                },
                error: function () {
                    console.error('Error al obtener los datos del usuario');
                }
            });
        });
    </script>
</body>
</html>

