@model Sistema_CIN.Models.Personal

@{
	ViewData["Title"] = "Details";
}
<h3 class="fw-bold fs-4 mb-3">Mantenimiento > Detalles Personal</h3>
<div>
	<a class="btn btn-outline-secondary" asp-action="Index">Volver</a>

</div>
<div>
	<br>
	<dl class="row">
		<dt class="col-sm-2">
			N.Cédula
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CedulaP)
		</dd>
		<dt class="col-sm-2">
			Nombre Completo
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NombreP)            @Html.DisplayFor(model => model.ApellidosP)

		</dd>

		<dt class="col-sm-2">
			Correo Electrónico
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CorreoP)
		</dd>
		<dt class="col-sm-2">
			Puesto
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PuestoP)
		</dd>
		<dt class="col-sm-2">
			Fecha Nacimiento
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FechaNaceP)
		</dd>
		<dt class="col-sm-2">
			Edad
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EdadP)
		</dd>
		<dt class="col-sm-2">
			Género
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.GeneroP)
		</dd>
		<dt class="col-sm-2">
			Dirección
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ProvinciaP)             @Html.DisplayFor(model => model.CantonP)            @Html.DisplayFor(model => model.DistritoP)


	</dl>
</div>

