@model IEnumerable<Sistema_CIN.Models.Personal>

@{

    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte</title>
    

</head>
<body>

    <nav class="mb-4 p-3">
        <div class="">
            <div class="">
                <a><img class="logo cin" src="~/images/Screenshot 2024-03-16 160647.png" style="width: 200px;" /></a>
            </div>

            <div style="text-align:right">
                <h3 class="fw-bold fs-5">Fecha de reporte</h3>
                <p>@DateTime.Now.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
    </nav>

    <table style="width: 100%;">
        <thead>
            <tr class="item-3">
                <th>
                    Cédula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellidos
                </th>

                <th>
                    Edad
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Correo
                </th>
                <th>
                    Puesto
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.CedulaP)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApellidosP)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EdadP)
                    </td>
              
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefonoP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorreoP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)
                    </td>

                </tr>
            }
        </tbody>

    </table>
</body>
</html>

