@model IEnumerable<Sistema_CIN.Models.Encargado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Responsable de
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Edad
            </th>
            <th>
                Dirección
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Correo Electrónico  
            </th>
            <th>
                Lugar de Trabajo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.responsable_de)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_e)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos_e)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad_e)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion_e)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono_e)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo_e)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lugar_trabajo_e)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cedula_e">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.cedula_e">Más</a> |
                <a asp-action="Delete" asp-route-id="@item.cedula_e">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
