@model Sistema_CIN.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRolU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreRolU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.IdRol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
