@model IEnumerable<Sistema_CIN.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_u)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo_u)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_u)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo_u)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles.id_rol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_usuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_usuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_usuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
