@model IEnumerable<Sistema_CIN.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagenU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreRolU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRolU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.IdRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
