@model Sistema_CIN.Models.PmeViewModel

@{
    ViewData["Title"] = "Contacto Familiar";
}

<h3 class="fw-bold fs-4 mb-3">Mantenimiento > Contacto Familiar de @Html.DisplayFor(model => model.Pme.NombrePme) @Html.DisplayFor(model => model.Pme.ApellidosPme)</h3>
<div class="my-3">
    <a class="btn btn-secondary btn-sm" asp-action="Index">Volver</a>
</div>

<div>
    <hr />

    <div class="row">

        <div class="col-lg-5 col-md-12">


            <div class="card mb-4">
                <h4 class="fw-bold fs-5 card-header">Información del PME</h4>
                <div class="card-body">


                    <div class="mb-4 row">
                        <div class="col-6 fw-bold">N Cédula</div>

                        <div class="col-6">
                            @Html.DisplayFor(model => model.Pme.CedulaPme)
                        </div>
                    </div>

                    <div class="mb-4 row">
                        <div class="col-6 fw-bold">Nombre Completo</div>

                        <div class="col-6">
                            @Html.DisplayFor(model => model.Pme.NombrePme)             @Html.DisplayFor(model => model.Pme.ApellidosPme)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 fw-bold">Edad</div>

                        <div class="col-6">
                            @Html.DisplayFor(model => model.Pme.EdadPme)
                        </div>
                    </div>


                </div>
            </div>

            <h3 class="fw-bold fs-4 mb-3">Información Familiar</h3>

            @if (Model.Pme.Encargados.Any())
            {
                int encargadoIndex = 1;

                foreach (var encargado in Model.Pme.Encargados)
                {
                    <div class="card mb-4">
                        <h4 class="fw-bold fs-5 card-header">Encargado @encargadoIndex</h4>
                        <div class="card-body">


                            <div class="mb-4 row">
                                <div class="col-lg-6 col-md-6 fw-bold">Cédula</div>

                                <div class="col-lg-6 col-md-6">
                                    @Html.DisplayFor(model => encargado.CedulaE)
                                </div>
                            </div>

                            <div class="mb-4 row">
                                <div class="col-lg-6 col-md-6 fw-bold">Nombre Completo</div>

                                <div class="col-lg-6 col-md-6">
                                    @Html.DisplayFor(model => encargado.NombreE) @Html.DisplayFor(model => encargado.ApellidosE)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 fw-bold">Teléfono</div>

                                <div class="col-lg-6 col-md-6">
                                    @Html.DisplayFor(model => encargado.TelefonoE)
                                </div>
                            </div>

                            <a class="btn btn-success btn-sm" asp-controller="Encargados" asp-action="Details" asp-route-id="@encargado.IdEncargado">Ver</a>

                        </div>
                    </div>
                    encargadoIndex++;
                }
            }
            else
            {
                <p>No se encontraron encargados asociados.</p>
            }

        </div>





    </div>
</div>
