@model Sistema_CIN.Models.Pme

@{
	ViewData["Title"] = "Details";
}

<h3 class="fw-bold fs-4 mb-3">Mantenimiento > Detalles PME</h3>
<div>
	<a class="btn btn-outline-secondary" asp-action="Index">Volver</a>

</div>
<div>
	<h4>Pme</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			N.Cédula
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CedulaPme)
		</dd>
		<dt class="col-sm-2">
			N.Póliza
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PolizaSeguro)
		</dd>
		<dt class="col-sm-2">
			Nombre Completo
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NombrePme)             @Html.DisplayFor(model => model.ApellidosPme)
		</dd>
		<dt class="col-sm-2">
			Fecha Nacimiento
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FechaNacimientoPme)
		</dd>
		<dt class="col-sm-2">
			Edad
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EdadPme)
		</dd>
		<dt class="col-sm-2">
			Género
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.GeneroPme)
		</dd>
		<dt class="col-sm-2">
			Dirección
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ProvinciaPme)			@Html.DisplayFor(model => model.CantonPme)			@Html.DisplayFor(model => model.DistritoPme)
		</dd>
		<dt class="col-sm-2">
			Nacionalidad
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NacionalidadPme)
		</dd>
		<dt class="col-sm-2">
			Recibe Subvención
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SubvencionPme)
		</dd>
		<dt class="col-sm-2">
			Fecha de Ingreso
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FechaIngresoPme)
		</dd>
		<dt class="col-sm-2">
			Fecha de Egreso
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FechaEgresoPme)
		</dd>
		<dt class="col-sm-2">
			Condición Migratora
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CondiciónMigratoriaPme)
		</dd>
		<dt class="col-sm-2">
			Nicel Educativo
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NivelEducativoPme)
		</dd>
		<dt class="col-sm-2">
			Encargado
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EncargadoPme)
		</dd>

	</dl>
</div>
