@model Sistema_CIN.Models.Pme

@{
    ViewData["Title"] = "Details";
}

<h3 class="fw-bold fs-4 mb-3">Mantenimiento > Detalles PME</h3>
<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Volver</a>

</div>
<div>
    <h4 class="my-4">Menor de Edad @Html.DisplayFor(model => model.CedulaPme) - @Html.DisplayFor(model => model.NombrePme)</h4>
    <hr />
    <dl class="row">

        <div class="row mb-2">
            <dt class="col-sm-2">
                N.Cédula
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CedulaPme)
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                N.Póliza
            </dt>
            <dd class="col-sm-10">
                @if (Model.PolizaSeguro == null)
                {
                    <text>No tiene</text>
                }
                else
                {
                    @Html.DisplayFor(model => model.PolizaSeguro)
                }
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                Nombre Completo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombrePme)             @Html.DisplayFor(model => model.ApellidosPme)
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                Fecha Nacimiento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaNacimientoPme)
            </dd>
        </div>
        <div class="row mb-2">
            <dt class="col-sm-2">
                Edad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EdadPme)
            </dd>
        </div>
        <div class="row mb-2">
            <dt class="col-sm-2">
                Género
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GeneroPme)
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                Dirección
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProvinciaPme)			@Html.DisplayFor(model => model.CantonPme)			@Html.DisplayFor(model => model.DistritoPme)
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                Nacionalidad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NacionalidadPme)
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                Recibe Subvención para desarrollo y cuido
            </dt>
            <dd class="col-sm-10">
                @if (Model.SubvencionPme == true)
                {
                    <text>Si recibe</text>
                }
                else if (Model.SubvencionPme == false)
                {
                    <text>No recibe</text>
                }
                <text>No asignado</text>

            </dd>
        </div>
        <div class="row mb-2">
            <dt class="col-sm-2">
                Fecha de Ingreso
            </dt>
            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.FechaIngresoPme)
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                Fecha de Egreso
            </dt>
            <dd class="col-sm-10">

                @if (Model.FechaEgresoPme == null)
                {
                    <text>No tiene</text>
                }
                else
                {
                    @Html.DisplayFor(model => model.FechaEgresoPme)
                }
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                Condición Migratora
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CondiciónMigratoriaPme)
            </dd>
        </div>
        <div class="row mb-2">
            <dt class="col-sm-2">
                Nivel Educativo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NivelEducativoPme)
            </dd>
        </div>

        <div class="row mb-2">
            <dt class="col-sm-2">
                Encargado
            </dt>
            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.IdEncargadoNavigation.NombreE)

            </dd>
        </div>

    </dl>
</div>
