@model IEnumerable<Sistema_CIN.Models.Pme>

@{
    ViewData["Title"] = "Index";
}

<h3 class="fw-bold fs-4 mb-3">Mantenimiento > PMEs</h3>
<div class="my-3">
    <a class="btn btn-primary btn-sm text-white" asp-action="Create">Añadir <i class="fa-solid fa-plus"></i></a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Cédula
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                N.Póliza
            </th>
            <th>
                Edad
            </th>
            <th>
                Género
            </th>
            <th>
                Dirección
            </th>
            <th>
                Fecha Ingreso
            </th>

            <th>
                Encargados
            </th>

            <th>Detalles</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaPme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePme) 	@Html.DisplayFor(modelItem => item.ApellidosPme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolizaSeguro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EdadPme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeneroPme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProvinciaPme)	@Html.DisplayFor(modelItem => item.CantonPme) @Html.DisplayFor(modelItem => item.DistritoPme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngresoPme)
                </td>

                <td>
                    <a class="btn-link" asp-action="ContactoFamiliar" asp-route-id="@item.IdPme">Ver</a> 
                </td>
                <td>
                    <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@item.IdPme"><i class="fa-regular fa-eye"></i></a>
                </td>
                <td>
                    <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.IdPme"><i class="fa-regular fa-pen-to-square"></i></a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdPme"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
