@model Sistema_CIN.Models.Rol

@{
    ViewData["Title"] = "Editar Rol";
    var rol = ViewData["Rol"] as Sistema_CIN.Models.Rol;
    var operacionesPorModulo = ViewData["OperacionesPorModulo"] as Dictionary<int, List<string>>;
}

<h3 class="fw-bold fs-4 mb-3">Administar > Editar Rol</h3>
<div class="mb-3">
    <a class="btn btn-secondary btn-sm" asp-action="Index">Volver</a>
</div>

<form method="post" asp-action="Edit">
    <!-- Resto del formulario de edición -->
    @foreach (var kvp in operacionesPorModulo)
    {
        <div class="border rounded bg-light p-2">
            @* Mostrar el nombre del módulo *@
            <h4 class="fw-bold fs-6 my-3">Módulo @(kvp.Key)</h4>

            @* Iterar sobre todas las operaciones disponibles para este módulo *@
            @foreach (var operacion in kvp.Value)
            {
                <div class="form-check">
                    @* Utilizar la propiedad "checked" para marcar los checkbox que estaban seleccionados en el formulario de creación *@
                    <input name="operacionesPorModulo[@kvp.Key][@(operacion)]" class="form-check-input" type="checkbox" value="true" id="@($"{kvp.Key}-{operacion}Checkbox")" @(rol.RolOperacions.Any(ro => ro.IdOpNavigation.NombreOp == operacion) ? "checked" : "")>
                    <label class="form-check-label" for="@($"{kvp.Key}-{operacion}Checkbox")">@operacion</label>
                </div>
            }
        </div>
    }
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
