@model Sistema_CIN.Models.PagedList<Sistema_CIN.Models.Encargados>

@{
	ViewData["Title"] = "Mantenimiento Encargados";
}

<h3 class="fw-bold fs-4">Mantenimiento > Encargados</h3>
<div class="row my-4 align-items-center">

	<div class="col">
		<a class="btn btn-primary btn-sm text-white" asp-action="Create">Añadir <i class="fa-solid fa-plus "></i></a>
	</div>

	
	<div class="container-fluid col-auto bg-light p-2 shadow-sm rounded">
		<form asp-controller="Encargados" asp-action="Index">
			<i class="fa-solid fa-magnifying-glass"></i>

			<input type="text" name="buscarEncargado" placeholder="Buscar por nombre..." class="fluid border-0 bg-light col">

			<input type="submit" class="btn btn-secondary btn-sm col-xs-1" value="Buscar" />
		</form>
	</div>
</div>

<div class="table-responsive">


	<table class="table table-striped table-bordered align-middle">
		<thead class="table-dark">
		<tr>
			<th>
				Cédula
			</th>
			<th>
				Nombre Completo
			</th>
			<th>
				Fecha Nacimiento
			</th>
			<th>
				Edad
			</th>
			<th>
				Correo Electrónico
			</th>
			<th>
				Dirección
			</th>
			<th>
				N. Teléfono
			</th>
			<th>
				Lugar de Trabajo
			</th>
			

			<th>Detalles</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CedulaE)
				</td>
			
				<td>
					@Html.DisplayFor(modelItem => item.NombreE)	@Html.DisplayFor(modelItem => item.ApellidosE)

				</td>

				<td>
					@Html.DisplayFor(modelItem => item.FechaNaceE)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Edad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CorreoE)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DireccionE)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TelefonoE)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LugarTrabajoE)
				</td>
				
				<td class="text-center">
					<a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.IdEncargado"><i class="fa-regular fa-eye"></i></a>
					
				</td>
				<td class="text-center">
					<a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-route-id="@item.IdEncargado"><i class="fa-regular fa-pen-to-square"></i></a>
				</td>
				<td class="text-center">
					<a class="btn btn-outline-danger btn-sm"  onclick="confirmDelete('@item.IdEncargado','@item.NombreE' ,'Encargados')" ><i class="fa-solid fa-trash-can"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

	<div asp-validation-summary="ModelOnly" class="alert alert-danger col" role="alert"></div>

</div>

<div class="row my-4">
	<div class="col">
		<a class="btn btn-secondary btn-sm" asp-controller="Home" asp-action="Index">Volver</a>
	</div>
	<nav aria-label="Page navigation" class="col justify-content-center">
		<ul class="pagination">
			@if (Model.HasPreviousPage)
			{
				<li class="page-item">
					<a class="page-link" href="?pagina=@(Model.PageIndex - 1)" aria-label="Anterior">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Anterior</span>
					</a>
				</li>
			}

			@for (int i = 1; i <= Model.TotalPages; i++)
			{
				<li class="page-item @(i == Model.PageIndex ? "active" : "")">
					<a class="page-link" href="?page=@i">@i</a>
				</li>
			}

			@if (Model.HasNextPage)
			{
				<li class="page-item">
					<a class="page-link" href="?pagina=@(Model.PageIndex + 1)" aria-label="Siguiente">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Siguiente</span>
					</a>
				</li>
			}
		</ul>
	</nav>
</div>

@section Scripts{


	@* ALERTA DE PERSONAL REGISTRADO / EDITADO EXITOSAMENTE*@
	@if (TempData["SuccessMessage"] != null)
	{

		<script>registroExito("@TempData["SuccessMessage"]");</script>

	}

}
