@model IEnumerable<Sistema_CIN.Models.BitacoraIngresoSalidas>

@{
    ViewData["Title"] = "Index";
}

<h3 class="fw-bold fs-4 mb-3">Bitácoras > Ingresos y Salidas > Usuarios</h3>

<div class="my-3">
    <a class="btn btn-secondary btn-sm" asp-controller="Home" asp-action="Index">Volver</a>
</div>

<body>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdBitacora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaSalida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoActual)
                </th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.IdBitacora)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaSalida)
                    </td>
                    <td>

                        @{
                            if (item.EstadoActual == 1)
                            {
                                <text><span class="text-success">En línea</span></text>
                            }
                            else
                            {

                                <text><i class="fa-regular fa-circle text-danger"></i>  Desconectado</text>
                            }


                        }

                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
